<h1 class="title">You Gonna Eat that Burger?</h1>
<div class="row">
  <section class=" col-md-6 col-12">
<h2 class="title">Devour that burger!</h2>

<ul>
  {{#each burger}}
    {{#unless devoured}}
    <li>
      <p>{{this.name}}</p>{{> burger-block devoured=true}}
    </li>
    {{/unless}}
  {{/each}}
</ul>
</section>

<section class="col-md-6 col-12">
<h2 class="title">Yum that was dellicious!</h2>

<ul>
  {{#each burger}}
    {{#if devoured}}
    <li>
      <p>{{this.name}}</p>{{> burger-block devoured=false}}
    </li>
    {{/if}}
  {{/each}}
</ul>
</div>
</section>

<h2 class="title">Add a Burger to Devour</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="burger" name="name">
  </div>

  <button type="submit">Add Burger</button>
</form>
