<h1>You Gonna Eat that Burger?</h1>

<h2>So ready to devour that burger!</h2>

<ul>
  {{#each burger}}
    {{#unless devoured}}
    {{> burger-block devoured=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Yum that was dellicious!</h2>

<ul>
  {{#each burger}}
    {{#if devoured}}
    {{> burger-block devoured=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger to Devour</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="burger" name="name">
  </div>

  <button type="submit">Add Burger</button>
</form>
